.ContenedorTabla {
  max-height: 75vh;
  overflow: auto;
  width: 86%;
  margin-left: 14%;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.ContenedorTabla::-webkit-scrollbar {
  width: 12px;
}

.ContenedorTabla::-webkit-scrollbar-thumb {
  background-color: #b11830;
  border-radius: 6px;
}

.ContenedorTabla::-webkit-scrollbar-track {
  background-color: #ffffff;
}

.table {
  border-collapse: separate;
  width: 98%;
}

.style-td {
  text-align: center;
  padding: 6px;
  font-size: 12px;
}

.table-header {
  text-align: center;
  padding: 10px;
  background-color: #b11830;
  color: white;
}

.estilos_tbody tr:nth-child(odd) {
  background-color: #d9d9d9;
}

.estilos_tbody tr:nth-child(even) {
  background-color: #ffffff;
}

.estilos_th th:first-child {
  border-radius: 10px 0px 0px 0px;
}

.estilos_th th:last-child {
  border-radius: 0px 10px 0px 0px;
}

.estilos_th th {
  font-size: 13px;
  position: sticky;
  top: 0;
}

.edit {
  cursor: pointer;
  color: white;
  border-radius: 5px;
  background-color: #0696d4;
  border: none;
  padding: 5px;
  margin-right: 5px;
}

.delete {
  cursor: pointer;
  color: white;
  border-radius: 5px;
  background-color: #d40606;
  border: none;
  padding: 5px;
  margin-left: 5px;
}

.form_add_datos {
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  font-size: 16px;
  width: 100px;
  height: 35px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: rgb(21, 159, 21);
}
