.sign-up-container {
    background-color: #FFFFFF;
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s;
}

.Form_registro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    text-align: center;
}

.formContent {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 65%;
}

.title_iniciar {
    font-size: 35px;
    font-family: 'Open Sans';
    font-weight: 700;
    color: #B11830;
    margin: 0;
    margin-bottom: 13px;
}

.formButton {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 2px solid #B11830;
    background: #FFF;
    font-size: 17px;
    margin-top: 7px;
    padding: 20px;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.25));
}

.buttonsRegister {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.botonRegister {
    width: 49%;
    border-radius: 10px;
    border: 2px solid #ffffff;
    background-color: #b1182f;
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 600;
    height: 45px;
    transition: transform 80ms ease-in;
}

.botonRegisterGoogle {
    width: 49%;
    border-radius: 10px;
    border: 2px solid #000000;
    background-color: #ffffff;
    color: #000000;
    font-size: 17px;
    font-weight: 600;
    height: 45px;
    transition: transform 80ms ease-in;
}

.error-message{
    margin: 0;
    color: #b1182f;
    font-size: 14px;
}

.botonRegister:active {
    transform: scale(0.95);
}

.botonRegisterGoogle:active {
    transform: scale(0.95);
}

@media (min-width: 768px) {

    .container.right-panel-active .sign-up-container {
        transform: translateX(100%);
        opacity: 1;
        z-index: 5;
        animation: show 0.6s;
    }

}

@media (max-width: 768px) {

    .sign-up-container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;
        z-index: 5;
    }

    .Form_registro {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .formContent {
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .formButton {
        width: 100%;
        height: 15px;
        border-radius: 8px;
        border: 2px solid #B11830;
        background: #FFF;
        font-size: 17px;
        margin-top: 7px;
        padding: 20px;
        filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.25));
    }

    .buttonsRegister {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
    }

    .botonRegister {
        width: 49%;
        border-radius: 10px;
        border: 2px solid #ffffff;
        background-color: #b1182f;
        color: #FFFFFF;
        font-size: 17px;
        font-weight: 600;
        height: 45px;
        transition: transform 80ms ease-in;
    }

    .botonRegisterGoogle {
        width: 49%;
        border-radius: 10px;
        border: 2px solid #000000;
        background-color: #ffffff;
        color: #000000;
        font-size: 17px;
        font-weight: 600;
        height: 45px;
        transition: transform 80ms ease-in;
    }

}